@model IEnumerable<DailyQuotes.Models.Quote>

@{
    ViewData["Title"] = "Index";
}

<h1>Quotes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<form method="get" asp-action="Index">
    <label>Enter quote text</label><br />
    <input type="text" name="search" value="@Context.Request.Query["search"]" placeholder="Search quotes..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quoteText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quoteText)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
